@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .small-scrollbar {
      scrollbar-width: 2px;
    }
    .small-scrollbar::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    .small-scrollbar::-webkit-scrollbar-thumb {
      background: gray;
    }
}

body {
    overscroll-behavior-y: none;
}